{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : DMFs == #}
{# == Node Type Description    : This node creates DMFs == #}

{% if desiredState %}

    {% set nsDMFVariables = namespace(objectDMFList=[], columnDMFList=[], customColumnDMFList=[]) %}
    {% set fullyQualifiedViewName = ref_no_link(desiredState.node.location.name, desiredState.node.name) %}

    {#------ Build Dictionary of All Object Level DMF -------#}

    {% set groupObjectDMF = desiredState.config.adddmfsobject.get('items')
                            | map(attribute='system_dmfs_object')
                            | select('defined')
                            | list
                            if desiredState.config.addobjectleveldmfs
                            else [] %}

    {% set universalObjectDMF = packageConfiguration.universalObjectDmfs
                                if desiredState.config.universalObjectDmfs
                                    and desiredState.config.universalDmfs
                                    and packageConfiguration.universalObjectDmfs is defined
                                else [] %}

    {% set nsDMFVariables.objectDMFList = (groupObjectDMF + universalObjectDMF) | unique | list %}

    {#------ Build Dictionary of All Column Level DMF -------#}

    {% set universalCoulmnDMF = [
        { 'DMF': 'NULL_COUNT',      'COLUMNS': packageConfiguration.nullCountUniversalColumns      | default([]) },
        { 'DMF': 'NULL_PERCENT',    'COLUMNS': packageConfiguration.nullPercentUniversalColumns    | default([]) },
        { 'DMF': 'BLANK_COUNT',     'COLUMNS': packageConfiguration.blankCountUniversalColumns     | default([]) },
        { 'DMF': 'BLANK_PERCENT',   'COLUMNS': packageConfiguration.blankPercentUniversalColumns   | default([]) },
        { 'DMF': 'DUPLICATE_COUNT', 'COLUMNS': packageConfiguration.duplicateCountUniversalColumns | default([]) },
        { 'DMF': 'UNIQUE_COUNT',    'COLUMNS': packageConfiguration.uniqueCountUniversalColumns    | default([]) },
        { 'DMF': 'FRESHNESS',       'COLUMNS': packageConfiguration.freshnessUniversalColumns      | default([]) }
    ] %}

    {% set items = desiredState.config.adddmfs.get('items') or [] %}
    {% set columnDMFs = items | map(attribute='system_dmfs') | select('defined') | unique | list %}
    {% set groupColumnDMF = namespace(data=[]) %}

    {% for dmf in columnDMFs %}
        {% set cols = items | selectattr('system_dmfs', 'equalto', dmf)
                            | map(attribute='columnNameExpressions.name')
                            | select('defined')
                            | unique
                            | list %}

        {% if cols %}
            {% set groupColumnDMF.data = groupColumnDMF.data + [{
                'DMF': dmf,
                'COLUMNS': cols
            }] %}
        {% endif %}
    {% endfor %}

    {% set combinedDuplicateColumnDMFs = groupColumnDMF.data + universalCoulmnDMF %}

    {% for dmf in combinedDuplicateColumnDMFs | map(attribute='DMF') | unique %}
        {% set cols = combinedDuplicateColumnDMFs
                        | selectattr('DMF', 'equalto', dmf)
                        | map(attribute='COLUMNS')
                        | sum(start=[])
                        | unique
                        | list %}

        {% set nsDMFVariables.columnDMFList = nsDMFVariables.columnDMFList + [{
            'DMF': dmf,
            'COLUMNS': cols
        }] %}
    {% endfor %}

    {#------ Build Dictionary of All Custom Column Level DMF -------#}

    {% if desiredState.config.addCustomDMFs%}
        {% for item in desiredState.config.customDMFsConfig.get('items') %}

            {% set args = namespace(elements=[], current=None) %}

            {% for line in item.customDMFArgs.split('\n') %}
                {% set l = line.strip() %}

                {% if l.startswith('- object:') %}
                    {% if args.current %}
                        {% set args.elements = args.elements + [args.current] %}
                    {% endif %}

                    {% set obj = l.replace('- object:', '').replace('"', '').strip() %}
                    {% set args.current = {
                        'object': obj,
                        'cols': []
                    } %}
                {% endif %}

                {% if l.startswith('- col:') and args.current %}
                    {% set col = l.replace('- col:', '').replace('"', '').strip() %}
                    {% set args.current = {
                        'object': args.current.object,
                        'cols': args.current.cols + [col]
                    } %}
                {% endif %}
            {% endfor %}

            {% if args.current %}
                {% set args.elements = args.elements + [args.current] %}
            {% endif %}

            {% set nsDMFVariables.customColumnDMFList = nsDMFVariables.customColumnDMFList + [{
                'DMF': item.customDMFName.replace('<', '').replace('>', ''),
                'COLUMNS': args.elements
            }] %}

        {% endfor %}
    {% endif %}

     {#------------------------------------------------------------#}

	{% if currentState == undefined %}

        {%- for dep in desiredState.sources[0].dependencies -%}

            {% set fullyQualifiedBaseTableName = ref_raw(dep.node.location.name, dep.node.name) %}
            {{ stage('Add DMFs Schedule') }}     
            ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
            {% if desiredState.config.schedulePeriodOption == 'Minutes' %}
                SET DATA_METRIC_SCHEDULE = '{{desiredState.config.schedulePeriod}} Minutes'
            {% elif desiredState.config.schedulePeriodOption == 'CRON'%}
                SET DATA_METRIC_SCHEDULE = 'USING CRON {{desiredState.config.scheduleCRON}}'
            {% elif desiredState.config.schedulePeriodOption == 'TRIGGER_ON_CHANGES'%}
                SET DATA_METRIC_SCHEDULE = 'TRIGGER_ON_CHANGES'
            {% endif%}

            {# ----- Apply Object Level DMFs -------------------#}
            {% for r in nsDMFVariables.objectDMFList if nsDMFVariables.objectDMFList %}
                {{ stage('Add Object DMF - ' + r) }}
                ALTER TABLE {{fullyQualifiedBaseTableName }}
                ADD DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ r }}
                ON ()
            {% endfor %}

            {# ----- Apply Column Level DMFs -------------------#}
            {% set tableColumns = desiredState.columns | map(attribute='name') | list %}
    
            {% for dmf in nsDMFVariables.columnDMFList | sort(attribute='DMF') %}
                {% set cols = dmf.COLUMNS | default([]) | sort %}
                {% if cols is defined and cols | length > 0 %}
                    {% for col in cols %}
                        {% if col in tableColumns %}
                            {{ stage('Add Column DMF - ' + dmf.DMF + ' - ' + col) }}
                            ALTER TABLE {{ fullyQualifiedBaseTableName }}
                            ADD DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ dmf.DMF }}
                            ON ({{ col }})
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {# ----- Apply Custom Column Level DMFs -------------------#}
            {% if desiredState.config.addCustomDMFs%}

                {% for dmf in nsDMFVariables.customColumnDMFList %}
                    {{ stage('Add Custom DMF - ' + dmf.DMF.split("'")[3]) }}
                    {% set fullyQualifiedFunctionName = ref_no_quotes(dmf.DMF) %}
                    ALTER TABLE {{ fullyQualifiedBaseTableName }}
                    ADD DATA METRIC FUNCTION {{ fullyQualifiedFunctionName }}
                    ON {{ renderCustomDMFArgs(dmf.COLUMNS) }}
                {% endfor %}

            {% endif %}

            {# ----- Create Data Quality Result View -------------------#}

            {% set sourceDatabase = desiredState.storageLocations
                                    | selectattr('name', 'equalto', dep.node.location.name)
                                    | map(attribute='database')
                                    | first %}
            {% set sourceSchema = desiredState.storageLocations
                                    | selectattr('name', 'equalto', dep.node.location.name)
                                    | map(attribute='schema')
                                    | first %}

            {{ stage('Create Data Quality Result View', true, "sql", "create") }}  
            CREATE OR REPLACE VIEW {{ fullyQualifiedViewName }} AS
            SELECT SCHEDULED_TIME, TABLE_DATABASE, TABLE_SCHEMA, TABLE_NAME, METRIC_NAME, ARGUMENT_TYPES, ARGUMENT_NAMES, VALUE
            FROM snowflake.local.data_quality_monitoring_results
            where TABLE_DATABASE = '{{sourceDatabase}}'
            and TABLE_SCHEMA = '{{sourceSchema}}'
            and TABLE_NAME = '{{dep.node.name}}'

            {# Create Email Alter If Enabled #}
            {% if desiredState.config.emailAlertToggle %}

                {% set emailAttributes = namespace(
                    notfIntegrationName='',
                    emailList='',
                    emailSubject='',
                    emailBody='',
                    alertWarehouse='',
                    alertFrequency='',
                    metricCondition=[]
                ) %}

                {{ buildEmailSettings(emailAttributes, fullyQualifiedBaseTableName, fullyQualifiedViewName) }}

                {% if emailAttributes.metricCondition | trim | length > 0 %}

                    {% set alertName = desiredState.node.name + '_ALERT' %}
                    {% set fullyQualifiedAlertName = ref_no_link(desiredState.node.location.name, alertName) %}

                    {{ stage('Create Data Quality Email Alert') }}
                    CREATE OR REPLACE ALERT {{ fullyQualifiedAlertName }}
                    WAREHOUSE = {{ emailAttributes.alertWarehouse }}
                    SCHEDULE = '{{ emailAttributes.alertFrequency }}'
                    IF
                    (
                        EXISTS
                        (
                            SELECT 1
                            FROM SNOWFLAKE.LOCAL.DATA_QUALITY_MONITORING_RESULTS
                            WHERE TABLE_DATABASE = '{{ sourceDatabase }}'
                            AND TABLE_SCHEMA = '{{ sourceSchema }}'
                            AND TABLE_NAME = '{{ dep.node.name }}'
                            AND measurement_time > COALESCE
                            (
                                    SNOWFLAKE.ALERT.LAST_SUCCESSFUL_SCHEDULED_TIME(),
                                    DATEADD('hour', -24, CURRENT_TIMESTAMP())
                            )
                            AND (
                                {{ emailAttributes.metricCondition | join('\n OR') }}
                            )
                        )
                    )
                    THEN
                    CALL SYSTEM$SEND_EMAIL(
                        '{{ emailAttributes.notfIntegrationName }}',
                        '{{ emailAttributes.emailList }}',
                        '{{ emailAttributes.emailSubject }}',
                        '{{ emailAttributes.emailBody }}'
                    )

                    {{ stage('Resume Data Quality Email Alert') }}
                    ALTER ALERT {{ fullyQualifiedAlertName }} RESUME
                {% endif %}
            {% endif %}
 
        {%endfor%}

    {% elif currentState != undefined and desiredState != currentState %}

        {%- for dep in desiredState.sources[0].dependencies -%}
            {% if currentState.config.schedulePeriodOption != desiredState.config.schedulePeriodOption %}
                {{ stage('Alter DMFs Schedule') }}
                ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                {% if desiredState.config.schedulePeriodOption == 'Minutes' %}
                    SET DATA_METRIC_SCHEDULE = '{{desiredState.config.schedulePeriod}} Minutes'
                {% elif desiredState.config.schedulePeriodOption == 'CRON'%}
                    SET DATA_METRIC_SCHEDULE = 'USING CRON {{desiredState.config.scheduleCRON}}'
                {% elif desiredState.config.schedulePeriodOption == 'TRIGGER_ON_CHANGES'%}
                    SET DATA_METRIC_SCHEDULE = 'TRIGGER_ON_CHANGES'
                {% endif%}
            {% endif%}

            {# object level logic #}
            {% if not desiredState.config.addobjectleveldmfs%}  
                {% set  expression_currentState =  currentState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}   
                {% for r in expression_currentState %}   
                    {{ stage('Drop Object DMF - ' + expression_currentState[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression_currentState[loop.index0] }}
                    ON  ()
                {% endfor %}
            {% endif %}            
            
            {% if desiredState.config.addobjectleveldmfs%}    
                {% set  expression = desiredState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}   
                {% set expression_currentState =  currentState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}   

                {% if ( expression_currentState == [] and expression != expression_currentState) %}
                    {{ stage('Add Object DMF - ' + expression[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    ADD DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression[loop.index0] }}
                    ON  ()
                {% elif ( expression == [] and expression != expression_currentState) %}
                    {{ stage('Drop Object DMF - ' + expression_currentState[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression_currentState[loop.index0] }}
                    ON  ()
                {% endif%}

            {% endif %}

            {# column level logic #}
            {% if not desiredState.config.addcolumnleveldmfs%}  
                {% set  column_currentState, expression_currentState = currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, currentState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}   
                {% for r in column_currentState %}   
                    {{ stage('Drop Column DMF - ' + expression_currentState[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression_currentState[loop.index0] }}
                    ON ({{ column_currentState[loop.index0] }})
                {% endfor %}
            {% endif %}            
            
            {% if desiredState.config.addcolumnleveldmfs%}    
                {% set id, column, expression = desiredState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.id') | list, desiredState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, desiredState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}   

                {% set id_currentState, column_currentState, expression_currentState = currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.id') | list, currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, currentState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}   

                {% for r in column %}   
                    {% set singleid = id[loop.index0] %}
                    {% if singleid not in currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.id') %}
                        {{ stage('Add Column DMF - ' + expression[loop.index0]) }}

                        ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                        ADD DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression[loop.index0] }}
                        ON  ({{ column[loop.index0] }})
                    {% endif %}    
                {% endfor %}

                {% for r in column_currentState %}   
                    {% set singleid = id_currentState[loop.index0] %}
                    {% if singleid not in desiredState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.id') %}
                        {{ stage('Drop Column DMF - ' + expression_currentState[loop.index0], true, "sql", "create") }}

                        ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                        DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression_currentState[loop.index0] }}
                        ON  ({{ column_currentState[loop.index0] }})
                    {% endif %}    
                {% endfor %}

                {# Custom DMF Functions #}
                {% if desiredState.config.addCustomDMFs or (desiredState.config.addCustomDMFs == false and currentState.config.addCustomDMFs) %}

                    {% set desired_items = desiredState.config.customDMFsConfig.get('items', []) %}
                    {% set current_items = currentState.config.customDMFsConfig.get('items', []) %}

                    {% for dItem in desired_items %}
                        {% set dItemExists = namespace(inList=false) %}

                        {% for cItem in current_items %}
                            {% if cItem.customDMFName | trim == dItem.customDMFName | trim
                                and cItem.customDMFArgs == dItem.customDMFArgs %}
                                {% set dItemExists.inList = true %}
                            {% endif %}
                        {% endfor %}

                        {% if (desiredState.config.addCustomDMFs and not dItemExists.inList) or ((desiredState.config.addCustomDMFs and currentState.config.addCustomDMFs == false)) %}
                            {{ stage('Add Custom DMF - ' + dItem.customDMFName.split('.')[-1]) }}
                            ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}}
                            ADD DATA METRIC FUNCTION {{ dItem.customDMFName }}
                            ON ({{ dItem.customDMFArgs }})
                        {% endif %}
                    {% endfor %}

                    {% for cItem in current_items %}
                        {% set cItemExists = namespace(inList=false) %}

                        {% for dItem in desired_items %}
                            {% if dItem.customDMFName == cItem.customDMFName
                                and dItem.customDMFArgs == cItem.customDMFArgs %}
                                {% set cItemExists.inList = true %}
                            {% endif %}
                        {% endfor %}

                        {% if (desiredState.config.addCustomDMFs and not cItemExists.inList) or ((desiredState.config.addCustomDMFs == false and currentState.config.addCustomDMFs)) %}
                            {{ stage('Drop Custom DMF - ' + cItem.customDMFName.split('.')[-1]) }}
                            ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}}
                            DROP DATA METRIC FUNCTION {{ cItem.customDMFName }}
                            ON ({{ cItem.customDMFArgs }})
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% set sourceDatabase = desiredState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='database') | first %}
            {% set sourceSchema = desiredState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='schema') | first %}

            {{ stage('Create Data Quality Result View', true, "sql", "create") }}
            CREATE OR REPLACE VIEW {{ fullyQualifiedViewName }} AS
            SELECT SCHEDULED_TIME, TABLE_DATABASE,TABLE_SCHEMA,TABLE_NAME,METRIC_NAME,ARGUMENT_TYPES,ARGUMENT_NAMES,VALUE
            FROM snowflake.local.data_quality_monitoring_results
            where TABLE_DATABASE = '{{sourceDatabase}}'
            and TABLE_SCHEMA = '{{sourceSchema}}'
            and TABLE_NAME = '{{dep.node.name}}'

        {%endfor%}
    {%endif%}

{%elif currentState != undefined and desiredState == undefined %}
    {%- for dep in currentState.sources[0].dependencies -%}
        {% if currentState.config.addobjectleveldmfs%}    
            {% set object_expression = currentState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}
            {% for r in object_expression %} 
                {{ stage('Drop Object DMF - ' + r, true, "sql", "create") }}     
                ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ r }}
                ON ()
            {% endfor %}
        {% endif %} 
        {% if currentState.config.addcolumnleveldmfs%}    
            {% set column, expression = currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, currentState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}
            {% for r in column %}      
                {{ stage('Drop Column DMF - ' + expression[loop.index0], true, "sql", "create") }}
                ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression[loop.index0] }}
                ON ({{ column[loop.index0] }})
            {% endfor %}
        {% endif %}

        {# Drop - Custom DMF Functions -#}
        {% if currentState.config.addCustomDMFs %}
            {% for cItem in currentState.config.customDMFsConfig.get('items', []) %}
                {{ stage('Drop Custom DMF - ' + cItem.customDMFName) }}
                ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}}
                DROP DATA METRIC FUNCTION {{ cItem.customDMFName }}
                ON ({{ cItem.customDMFArgs }})
            {% endfor %}
        {% endif %}

        {{ stage('Unset DMFs Schedule') }}
        ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
        UNSET DATA_METRIC_SCHEDULE

        {% set sourceDatabase = currentState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='database') | first %}
        {% set sourceSchema = currentState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='schema') | first %}

        {{ stage('Drop Data Quality Result View', true, "sql", "create") }}  
        DROP VIEW IF EXISTS {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}

        {# Create Email Alter If Enabled #}
        {% if currentState.config.emailAlertToggle and (currentState.config.nullCntTrigger) %}
            {% set alertName = currentState.node.name + '_ALERT' %}
            {% set fullyQualifiedAlertName = ref_no_link(currentState.node.location.name, alertName) %}

            {{ stage('Drop Data Quality Email Alert') }}
            DROP ALERT IF EXISTS {{ fullyQualifiedAlertName }}
        {% endif %}

    {%endfor%}
{%endif%}