{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : DMFs == #}
{# == Node Type Description    : This node creates DMFs == #}

{% if desiredState %}

	{% if currentState == undefined %}

        {%- for dep in desiredState.sources[0].dependencies -%}
            {{ stage('Add DMFs Schedule') }}     
            ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
            {% if desiredState.config.schedulePeriodOption == 'Minutes' %}
            SET DATA_METRIC_SCHEDULE = '{{desiredState.config.schedulePeriod}} Minutes'
            {% elif desiredState.config.schedulePeriodOption == 'CRON'%}
            SET DATA_METRIC_SCHEDULE = 'USING CRON {{desiredState.config.scheduleCRON}}'
            {% elif desiredState.config.schedulePeriodOption == 'TRIGGER_ON_CHANGES'%}
            SET DATA_METRIC_SCHEDULE = 'TRIGGER_ON_CHANGES'
            {% endif%}

            {% if desiredState.config.addobjectleveldmfs%}    
                {% set object_expression = desiredState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}
                {% for r in object_expression %} 
                    {{ stage('Add Object DMF - ' + r) }}     
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    ADD DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ r }}
                    ON  () ; 
                {% endfor %}
            {% endif %}

            {% if desiredState.config.addcolumnleveldmfs%}    
                {% set column, expression = desiredState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, desiredState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}
                {% for r in column %}      
                    {{ stage('Add Column DMF - ' + expression[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    ADD DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression[loop.index0] }}
                    ON  ({{ column[loop.index0] }}) ; 
                {% endfor %}
            {% endif %}

            {# Custom Object Level DMF Functions #}
            {# ------------------------------------------------------------
            {% if desiredState.config.addCustomObjectLevelDMFs%}

                {% for item in desiredState.config.customObjectDMFsConfig.get('items') %}
                    {{ stage('Add Custom Object DMF') }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    ADD DATA METRIC FUNCTION {{ item.customObjDMFName }}
                    ON  ({{ item.customObjDMFArgs }})
                {% endfor %}

            {% endif %}
            ------------------------------------------------------------ #}

            {# Custom DMF Functions #}
            {% if desiredState.config.addCustomDMFs%}

                {% for item in desiredState.config.customDMFsConfig.get('items') %}
                    {{ stage('Add Custom DMF - ' + item.customDMFName.split('.')[-1]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    ADD DATA METRIC FUNCTION {{ item.customDMFName }}
                    ON  ({{ item.customDMFArgs }})
                {% endfor %}

            {% endif %}

            {% set sourceDatabase = desiredState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='database') | first %}
            {% set sourceSchema = desiredState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='schema') | first %}

            {{ stage('Create Data Quality Result View', true, "sql", "create") }}  
            CREATE OR REPLACE VIEW {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} AS
            SELECT SCHEDULED_TIME, TABLE_DATABASE, TABLE_SCHEMA, TABLE_NAME, METRIC_NAME, ARGUMENT_TYPES, ARGUMENT_NAMES, VALUE
            FROM snowflake.local.data_quality_monitoring_results
            where TABLE_DATABASE = '{{sourceDatabase}}'
            and TABLE_SCHEMA = '{{sourceSchema}}'
            and TABLE_NAME = '{{dep.node.name}}'

            {# Create Email Alter If Enabled #}
            {% if desiredState.config.emailAlertToggle and (desiredState.config.nullCntTrigger) %}

                {% set emailAttributes = namespace(
                    notfIntegrationName='',
                    emailList='',
                    alertWarehouse='',
                    alertFrequency=''
                ) %}

                {{ buildEmailSettings(emailAttributes) }}

                {% set alertName = desiredState.node.name + '_ALERT' %}
                {% set fullyQualifiedAlertName = ref_no_link(desiredState.node.location.name, alertName) %}

                {{ stage('Create Data Quality Email Alert') }}
                CREATE OR REPLACE ALERT {{ fullyQualifiedAlertName }}
                WAREHOUSE = {{ emailAttributes.alertWarehouse }}
                SCHEDULE = '{{ emailAttributes.alertFrequency }}'
                IF (EXISTS (
                        SELECT value FROM SNOWFLAKE.LOCAL.DATA_QUALITY_MONITORING_RESULTS
                        WHERE TABLE_DATABASE = '{{sourceDatabase}}'
                        AND TABLE_SCHEMA = '{{sourceSchema}}'
                        AND TABLE_NAME = '{{dep.node.name}}'
                        AND metric_name = 'NULL_COUNT'
                        AND value > 0
                        AND measurement_time > DATEADD('hour', -1, CURRENT_TIMESTAMP())
                ))
                THEN
                CALL SYSTEM$SEND_EMAIL(
                    '{{ emailAttributes.notfIntegrationName }}',
                    '{{ emailAttributes.emailList }}',
                    'Data Quality Notification: Metric Threshold Exceeded',
                    'A monitored data quality metric for {{ ref_raw(dep.node.location.name, dep.node.name) }} has moved outside of its expected range. Please review the Data Quality Monitoring Results View - {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} for details.'
                )

                {{ stage('Resume Data Quality Email Alert') }}
                ALTER ALERT {{ fullyQualifiedAlertName }} RESUME
            {% endif %}
 
        {%endfor%}

    {%elif currentState != undefined and desiredState!=currentState %}

        {%- for dep in desiredState.sources[0].dependencies -%}
            {% if currentState.config.schedulePeriodOption != desiredState.config.schedulePeriodOption %}
                {{ stage('Alter DMFs Schedule') }}
                ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                {% if desiredState.config.schedulePeriodOption == 'Minutes' %}
                SET DATA_METRIC_SCHEDULE = '{{desiredState.config.schedulePeriod}} Minutes'
                {% elif desiredState.config.schedulePeriodOption == 'CRON'%}
                SET DATA_METRIC_SCHEDULE = 'USING CRON {{desiredState.config.scheduleCRON}}'
                {% elif desiredState.config.schedulePeriodOption == 'TRIGGER_ON_CHANGES'%}
                SET DATA_METRIC_SCHEDULE = 'TRIGGER_ON_CHANGES'
                {% endif%}
            {% endif%}

            {# object level logic #}
            {% if not desiredState.config.addobjectleveldmfs%}  
                {% set  expression_currentState =  currentState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}   
                {% for r in expression_currentState %}   
                    {{ stage('Drop Object DMF - ' + expression_currentState[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression_currentState[loop.index0] }}
                    ON  ();  
                {% endfor %}
            {% endif %}            
            
            {% if desiredState.config.addobjectleveldmfs%}    
                {% set  expression = desiredState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}   
                {% set expression_currentState =  currentState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}   

                {% if ( expression_currentState == [] and expression != expression_currentState) %}
                    {{ stage('Add Object DMF - ' + expression[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    ADD DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression[loop.index0] }}
                    ON  ();  
                {% elif ( expression == [] and expression != expression_currentState) %}
                    {{ stage('Drop Object DMF - ' + expression_currentState[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression_currentState[loop.index0] }}
                    ON  ();  
                {% endif%}

            {% endif %}

            {# column level logic #}
            {% if not desiredState.config.addcolumnleveldmfs%}  
                {% set  column_currentState, expression_currentState = currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, currentState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}   
                {% for r in column_currentState %}   
                    {{ stage('Drop Column DMF - ' + expression_currentState[loop.index0]) }}
                    ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                    DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression_currentState[loop.index0] }}
                    ON  ({{ column_currentState[loop.index0] }});  
                {% endfor %}
            {% endif %}            
            
            {% if desiredState.config.addcolumnleveldmfs%}    
                {% set id, column, expression = desiredState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.id') | list, desiredState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, desiredState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}   

                {% set id_currentState, column_currentState, expression_currentState = currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.id') | list, currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, currentState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}   

                {% for r in column %}   
                    {% set singleid = id[loop.index0] %}
                    {% if singleid not in currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.id') %}
                        {{ stage('Add Column DMF - ' + expression[loop.index0]) }}

                        ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                        ADD DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression[loop.index0] }}
                        ON  ({{ column[loop.index0] }}); 
                    {% endif %}    
                {% endfor %}

                {% for r in column_currentState %}   
                    {% set singleid = id_currentState[loop.index0] %}
                    {% if singleid not in desiredState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.id') %}
                        {{ stage('Drop Column DMF - ' + expression_currentState[loop.index0], true, "sql", "create") }}

                        ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                        DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression_currentState[loop.index0] }}
                        ON  ({{ column_currentState[loop.index0] }}); 
                    {% endif %}    
                {% endfor %}

                {# Custom DMF Functions #}
                {% if desiredState.config.addCustomDMFs or (desiredState.config.addCustomDMFs == false and currentState.config.addCustomDMFs) %}

                    {% set desired_items = desiredState.config.customDMFsConfig.get('items', []) %}
                    {% set current_items = currentState.config.customDMFsConfig.get('items', []) %}

                    {% for dItem in desired_items %}
                        {% set dItemExists = namespace(inList=false) %}

                        {% for cItem in current_items %}
                            {% if cItem.customDMFName | trim == dItem.customDMFName | trim
                                and cItem.customDMFArgs == dItem.customDMFArgs %}
                                {% set dItemExists.inList = true %}
                            {% endif %}
                        {% endfor %}

                        {% if (desiredState.config.addCustomDMFs and not dItemExists.inList) or ((desiredState.config.addCustomDMFs and currentState.config.addCustomDMFs == false)) %}
                            {{ stage('Add Custom DMF - ' + dItem.customDMFName.split('.')[-1]) }}
                            ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}}
                            ADD DATA METRIC FUNCTION {{ dItem.customDMFName }}
                            ON ({{ dItem.customDMFArgs }})
                        {% endif %}
                    {% endfor %}

                    {% for cItem in current_items %}
                        {% set cItemExists = namespace(inList=false) %}

                        {% for dItem in desired_items %}
                            {% if dItem.customDMFName == cItem.customDMFName
                                and dItem.customDMFArgs == cItem.customDMFArgs %}
                                {% set cItemExists.inList = true %}
                            {% endif %}
                        {% endfor %}

                        {% if (desiredState.config.addCustomDMFs and not cItemExists.inList) or ((desiredState.config.addCustomDMFs == false and currentState.config.addCustomDMFs)) %}
                            {{ stage('Drop Custom DMF - ' + cItem.customDMFName.split('.')[-1]) }}
                            ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}}
                            DROP DATA METRIC FUNCTION {{ cItem.customDMFName }}
                            ON ({{ cItem.customDMFArgs }})
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% set sourceDatabase = desiredState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='database') | first %}
            {% set sourceSchema = desiredState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='schema') | first %}

            {{ stage('Create Data Quality Result View', true, "sql", "create") }}
            CREATE OR REPLACE VIEW {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} AS
            SELECT SCHEDULED_TIME, TABLE_DATABASE,TABLE_SCHEMA,TABLE_NAME,METRIC_NAME,ARGUMENT_TYPES,ARGUMENT_NAMES,VALUE
            FROM snowflake.local.data_quality_monitoring_results
            where TABLE_DATABASE = '{{sourceDatabase}}'
            and TABLE_SCHEMA = '{{sourceSchema}}'
            and TABLE_NAME = '{{dep.node.name}}'

        {%endfor%}
    {%endif%}

{%elif currentState != undefined and desiredState == undefined %}
    {%- for dep in currentState.sources[0].dependencies -%}
        {% if currentState.config.addobjectleveldmfs%}    
            {% set object_expression = currentState.config.adddmfsobject.get('items') | map(attribute='system_dmfs_object') | list  %}
            {% for r in object_expression %} 
                {{ stage('Drop Object DMF - ' + r, true, "sql", "create") }}     
                ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ r }}
                ON  () ; 
            {% endfor %}
        {% endif %} 
        {% if currentState.config.addcolumnleveldmfs%}    
            {% set column, expression = currentState.config.adddmfs.get('items') | map(attribute='columnNameExpressions.name') | list, currentState.config.adddmfs.get('items') | map(attribute='system_dmfs') | list  %}
            {% for r in column %}      
                {{ stage('Drop Column DMF - ' + expression[loop.index0], true, "sql", "create") }}
                ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
                DROP DATA METRIC FUNCTION SNOWFLAKE.CORE.{{ expression[loop.index0] }}
                ON  ({{ column[loop.index0] }}) ; 
            {% endfor %}
        {% endif %}

        {# Drop - Custom DMF Functions -#}
        {% if currentState.config.addCustomDMFs %}
            {% for cItem in currentState.config.customDMFsConfig.get('items', []) %}
                {{ stage('Drop Custom DMF - ' + cItem.customDMFName) }}
                ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}}
                DROP DATA METRIC FUNCTION {{ cItem.customDMFName }}
                ON ({{ cItem.customDMFArgs }})
            {% endfor %}
        {% endif %}

        {{ stage('Unset DMFs Schedule') }}
        ALTER TABLE {{ref_raw(dep.node.location.name, dep.node.name)}} 
        UNSET DATA_METRIC_SCHEDULE

        {% set sourceDatabase = currentState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='database') | first %}
        {% set sourceSchema = currentState.storageLocations | selectattr('name', 'equalto', dep.node.location.name) | map(attribute='schema') | first %}

        {{ stage('Drop Data Quality Result View', true, "sql", "create") }}  
        DROP VIEW IF EXISTS {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}

        {# Create Email Alter If Enabled #}
        {% if currentState.config.emailAlertToggle and (currentState.config.nullCntTrigger) %}
            {% set alertName = currentState.node.name + '_ALERT' %}
            {% set fullyQualifiedAlertName = ref_no_link(currentState.node.location.name, alertName) %}

            {{ stage('Drop Data Quality Email Alert') }}
            DROP ALERT IF EXISTS {{ fullyQualifiedAlertName }};
        {% endif %}

    {%endfor%}
{%endif%}